
.env
local.settings.json
.venv/
__pycache__/
__blobstorage__/
__queueststorage__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
*.coverage
node_modules/
AzuriteConfig
__azurite_db_*.json
package-lock.json
package.json

.python_packages